@import "../../styles/variables.scss";

.my_exercise {
  width: 100%;
  min-height: 304px;
  background-color: $dark-500;
  margin-bottom: 56px;
  .title {
    width: 100%;
    padding: 16px 24px;
    color: #fff;
    span {
      margin-right: 20px;
      display: inline-block;
      vertical-align: middle;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.11px;

      &:first-child {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.15px;
      }
    }
  }
  .exercise_list {
    padding: 0 24px;
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style-type: disc;
      overflow-y: scroll;
      max-height: 180px;
      padding: 0 10px;
      /* width */
      &::-webkit-scrollbar {
        width: 6px;
        border-radius: 3px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #777;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $primary-300;
        border-radius: 3px;
      }
      li {
        width: 416px;
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        border-bottom: 1px solid #777777;
        position: relative;
        .desc {
          &:before {
            content: "·";
            font-size: 50px;
            vertical-align: middle;
            color: #fff;
            position: absolute;
            left: -10px;
          }
          display: block;
          padding-left: 10px;
          color: #fff;
          font-weight: 300;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 0.075px;
          p:last-child {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.075px;
            color: $primary-300;
          }
        }
        .duration {
          color: $primary-300;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          text-align: right;
          letter-spacing: 0.09px;
        }
      }
    }
  }
}
